<h1>New Activity in <%= @post.place_id %></h1>

<%= form_with :model =>@post do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>

  <%= form.submit %>
<% end %>
