<h1>New post</h1>
<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>
  
  <p>
    <%= form.label "posted_on", "Date" %>
    <%= form.date_select "posted_on" %>
  </p>
  
  <p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
  </p>
    <!--
  <p>
    <%= form.label "place_id" %>
    <%= form.collection_select "place_id", Place.all, "id", "name" %>
  </p>
    -->
    <%= form.hidden_field "place_id"%>
  <%= form.submit%>
<% end %>